fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
redis
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
alembic
python-dotenv
annotated-types==0.7.0
typing-extensions==4.15.0
anyio==3.7.1
click==8.3.1
h11==0.16.0
sniffio==1.3.1
starlette==0.27.0
cryptography==46.0.5
ecdsa==0.19.1
pyasn1==0.6.2
rsa==4.9.1
six==1.17.0
Mako==1.3.10
bcrypt==5.0.0
greenlet==3.3.2
httptools==0.7.1
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
idna==3.11
pyyaml==6.0.3